body {
  margin: 0;
  background-color: #bbcdfb;
  height: 100vh;
  text-align: -webkit-center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.add-item {
  width: 615px;
  height: 30px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid black;
  border-right: none;
  padding-left: 10px;
  padding-top: 10px;
}

.add-item-buttom {
  height: 42px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid black;
  border-left: none;
  padding-top: 4px;
  background: none;
  cursor: pointer;
}

.add-item:focus-visible {
  outline: none;
}

.cursor-pointer {
  cursor: pointer;
}
